@model Reservator.Models.Session

@{
    ViewData["Title"] = "Session Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateID)
        </dd>
    </dl>
</div>

<div class="table-responsive">
    <table class="table" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Score</th>
                <th>Statement</th>
            </tr>
        </thead>
        <tbody>
            @{
                int Rank = 0;

                foreach (var item in Model.Reservations)
                {
                    Rank += 1;
                    string Name = item.UserInfo.FirstName + " " + item.UserInfo.LastName;

                    <tr>
                        <td>@Rank</td>
                        <td>@Name</td>
                        <td>@Html.DisplayFor(modelItem => item.Score)</td>
                        <td>@Html.DisplayFor(modelItem => item.Statement)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<form asp-controller="Reservation" asp-action="Create">
    <input type="hidden" name="id" asp-for="SessionID" />
    <input type="submit" value="Reserve" class="mb-4 btn btn-primary text-white" />
</form>


<div>
    <a asp-action="Index">Return to Index</a>
</div>rn to Index</a>
</div>