@model IEnumerable<Reservator.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-4">Reservations Panel</h1>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Reseravations Datatable
    </div>
    <div class="card-body">
        <div class="mb-4 btn btn-primary">
            <a class="text-white" asp-action="Create">Create New</a>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.ReservationId)</th>
                        <th>@Html.DisplayNameFor(model => model.UsrID)</th>
                        <th>@Html.DisplayNameFor(model => model.Score)</th>
                        <th>@Html.DisplayNameFor(model => model.Statement)</th>
                        <th>@Html.DisplayNameFor(model => model.Session)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.ReservationId)</th>
                        <th>@Html.DisplayNameFor(model => model.UsrID)</th>
                        <th>@Html.DisplayNameFor(model => model.Score)</th>
                        <th>@Html.DisplayNameFor(model => model.Statement)</th>
                        <th>@Html.DisplayNameFor(model => model.Session)</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.ReservationId)</td>
                        <td>@Html.DisplayFor(modelItem => item.UsrID)</td>
                        <td>@Html.DisplayFor(modelItem => item.Score)</td>
                        <td>@Html.DisplayFor(modelItem => item.Statement)</td>
                        <td>@Html.DisplayFor(modelItem => item.Session.SessionID)</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ReservationId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ReservationId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ReservationId">Delete</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
